:root {
	--font1: 'system-ui', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	display: flex;
	font-family: var(--font1);
	background-color: black;
	color: white;
}

article {
	display: inline-flex;
	flex-direction: column;
	margin: 1rem;
}

section {
	display: inline-flex;
	flex-direction: row;
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	justify-content: baseline;
	margin: 1rem;
}
