:root {
	--font1: 'UnifrakturMaguntia', cursive; /* font for the title */
	--fontsize1: 4.5rem; /* font size for the title */
	--font2: 'system-ui', sans-serif; /* font for the text */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	display: flex;
	font-family: var(--font1);
	background-color: black;
	color: white;
}

h1 {
	font-family: var(--font1);
	font-size: var(--fontsize1);
}

p {
	font-family: var(--font2);
	font-size: 1.2rem;
}

article {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	margin: 1rem;
	width: 100%;
	justify-content: center;
}

section {
	width: 100%;
	position: relative;
	display: inline-flex;
	flex-direction: row;
	text-align: center;
}

footer {
	display: flex;
	flex-direction: row;
	bottom: 0;
	position: fixed;
	width: 100%;
	justify-content: center;
}
