img#leftSkeleton,
img#rightSkeleton {
	position: relative;
	margin: auto;
	width: fit-content;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

img#footerImg {
	width: 100%;
	height: auto;
}
