@import url(/fonts/iosevka/iosevka.css);
@import url(/fonts/linuxson/linuxson.css);

html {
  max-width: 1280px;
	max-height: 1080px;
	width: 100%;
  text-align: center;
	background-color: #1e1e1e;

	background-size: 75px 75px;
  background-image:
    linear-gradient(to right, #383b3d 1px, transparent 1px),
    linear-gradient(to bottom, #383b3d 1px, transparent 1px);
}

.overlay {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,  #1e1e1e 75%, #1e1e1e 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

#navbar {
	width: 100vw;
	height: 25vh;
}

body {
	overflow: hidden;
	width: 100vw;
	height: 75vh;
	display: flex;
	justify-content: center;
}

.heading {
	font-family: Linuxson;
	font-weight: 100;
	font-size: 6.5vh;
	color: #D4D4D4;
	text-align: center;
}

.subheading {
	font-family: Iosevka Web;
	font-weight: 200;
	font-size: 3vh;
	color: #3794ff;
	text-align: center;
}

.code {
	margin-top: -1.75vw;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	text-align: left;

}

@keyframes caretAnim {
  0% {
    color: transparent;
  }
  50% {
    color: #3794ff;
  }
  100% {
    color: transparent;
  }
}

.caret {
	font-family: Iosevka Web;
	font-weight: 200;
	font-size: 3vh;
	color: #3794ff;
	text-align: center;
	animation: caretAnim 500ms steps(2, end) 0s infinite;
}

@keyframes typingEffect {
	0% {
		border-width: 2px;
		height: 1.5em;
	}
	5% {
		width: 0ch;
		border-width: 2px;
		height: 1.5em;
	}
	93% {
		border-width: 2px;
		height: 1.5em;
	}
	100% {
		width: 15ch;
		border-width: 0px;
		height: 1.5em;
	}
}

.command {
	overflow: hidden;
	width: 0ch;
	color: #D4D4D4;
	background: none;
	animation: typingEffect 2.5s steps(15, end) forwards 1000ms;
	white-space: nowrap;
}
