.box {
	border-style: solid;
	border-color: #fff;
	box-sizing: border-box;

	font-family: 'Web437 DOS/V re. ANK30';
	font-weight: 100;
	line-height: 1;

	align-content: center;
	text-align: center;
	background-color: var(--blue);
	height: fit-content;
	display: flex;

	height: 100%;
	width: 100%;
}

.box.center {
	justify-content: center;
	align-items: center;
}

.box.topless {
	clip-path: rect(0.25rem 100% 100% 0);
	height: 100%;
}

.box.top {
	margin-bottom: -0.25rem;
	border-bottom: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0.5;
}

.box.middle {
	clip-path: rect(0.25rem 100% 100% 0);
	margin-bottom: -0.25rem;
	height: 100%;
	flex: 1;
}

.box.bottom {
	margin-top: -0.5rem;
	clip-path: rect(0.25rem 100% 100% 0);
	flex: 0.5;
}

.box.left {
	margin-right: -2.25%;
}

.box.right {
	margin-left: 0;
	border-left: 0;
}

.row.boxes {
	height: 100%;
	flex: 0.985;
}

.error {
	background-color: var(--red);
}

.empty {
	min-height: 0px;
}