.ascii-box {
	display: flex;
	flex-direction: column;

	border-style: solid;
	border-color: #fff;
	border-image-repeat: round;

	font-family: 'Web437 DOS/V re. ANK30';
	font-weight: 100;
	line-height: 1;

	min-width: 30%;
	max-width: 60%;
	width: 100%;

	align-content: center;
	text-align: center;

	padding: 0;
	margin: 0;
	top: 0;

	clip-path: inset(0.25rem 0 0 0);
	margin-top: -0.25rem;
}

.ascii-box.no-title {
	clip-path: inset(0.25rem 0 0 0);
	margin-top: 0.25rem;
}

#home-box1 {
	background-color: var(--blue);
	margin-bottom: -1rem;
}

#home-box2 {
	background-color: var(--blue);
	margin-bottom: -0.75rem;
}

#home-box3 {
	background-color: var(--blue);
	flex-direction: row;
}

#error-box1 {
	background-color: var(--red);
}

#about-box1 {
	background-color: var(--blue);
}

#test-box1 {
	background-color: var(--blue);
}

#menu1 {
	background-color: var(--blue);
	max-width: 75%;
	color: #f4eb34;
}
