@media (min-width: 100px) {
	html {
		font-size: 13px;
	}
}

@media (min-width: 250px) {
	html {
		font-size: 25px;
	}
}

@media (min-width: 700px) {
	html {
		font-size: 34px;
	}
}

@media (min-width: 1000px) {
	html {
		font-size: 42px;
	}
}

@media (min-width: 1720px) {
	html {
		font-size: 85px;
	}
}

@media (max-width: 1000px) {
	html {
		font-size: 42px;
	}

	nav {
		position: relative;
		width: 100vw;
		display: flex;
		margin-left: 0%;
	}

	.menu {
		width: 100%;
		flex-direction: inherit;
	}

	.menu>div:nth-child(1) {
		margin-top: 0.55rem;
		border-top-width: 19.75px;
	}

	#menu1.ascii-box.no-title {
		clip-path: inset(calc(0.25rem / 2) 0 0 0);
		border-top-width: 20px;
	}

	#error-box1.ascii-box.no-title {
		clip-path: inset(0.25rem 0 0 0);
		border-top-width: 20px;
	}

	#menu1.title {
		margin-top: -1.5rem;
	}

	#error-box1.title {
		margin-top: -0.5rem;
	}

	#pathAbout {
		padding-top: 15px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#pathError {
		padding-top: 15px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#pathResume {
		padding-top: 15px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#pathHome {
		padding-top: 15px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.title {
		font-size: 0.75rem;
	}

	.flex-row {
		min-height: 10%;
	}

	.flex-column {
		height: 100vh;
	}

	#menu1 {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-right: 0px;
		padding-left: 0px;
	}

	.link:nth-child(1) {
		margin-top: 0.25rem;
	}

	main {
		display: flex;
		position: relative;
		width: 100%;
		height: 100vh;
	}

	body {
		margin: 0;
		height: 100vh;
	}
}
