:root {
	--animationSteps: 0;
	--animationTime: 0;

	--red: #da0c00;
	--orange: #CE9178;
	--yellow: #f4eb34;
	--green: #0dbc79;
	--blue: #0404ac;
	--cyan: #00b6b5;
	--indigo: #646695;
	--violet: #c586c0;
	--white: #d4d4d4;
	--grey: #cfcdd0;
	--black: #1e1e1e;
	z-index: 1;
}

#root {
	width: 100vw;
	height: 100%;
	min-height: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: var(--black);
}

a {
	text-decoration: none;
}

p {
	font-family: 'Web437 Nix8810 M16';
	font-size: 0.5rem;
	color: var(--white);
	margin: 0;
	margin-top: 0.25rem;
}


main.column {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

main {
	height: 100%;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	position: relative;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.quarter {
	flex: 0.1;
}

.threequarters {
	flex: 0.9;
}

nav {
	height: 100%;
	flex: 0.10;
	width: fit-content;
}

section {
	flex: 0.9;
}

#hero1 {
	flex: 0.0125;
}

#hero2 {
	flex: 0.985;
}

#hero3 {
	flex: 0.0125;
}

#logs1 {
	flex: 0.0125;
}

#setup {
	color: var(--yellow);
	margin: 0;
}

#controls {
	font-size: 0.5rem;
	font-family: 'Web437 Nix8810 M16';
	color: var(--yellow);
	padding-left: 0.5%;
	padding-right: 0.5%;
	justify-content: space-around;
	width: 100%;
}

#intro {
	font-family: 'Web437 DOS/V re. ANK30';
	font-weight: 100;
	font-size: 1rem;
}

.hidden {
	display: none;
}

.column {
	box-sizing: border-box;
	flex-direction: column;
	position: relative;
	display: flex;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.row {
	box-sizing: border-box;
	flex-direction: row;
	position: relative;
	display: flex;
	z-index: 1;
	height: 100%;
	width: 100%;
}

.copyright {
	font-family: 'Web437 Nix8810 M16';
	font-weight: 100;
	font-size: 0.25rem;
	color: var(--white);
	z-index: 1;
	position: fixed;
	left: 1.5%;
	bottom: 2.5%;
}

.scroll {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	overflow: hidden;
	height: 100%;
	position: relative;
}

.text-block {
	text-align: left;
	position: absolute;
	margin: 0;
}

.indicator {
	position: relative;
	color: var(--white);
	width: 100% !important;
	text-align: center !important;
	margin-top: 0 !important;
	left: 0;
}

.indicatorText {
	margin: 0;
	height: 0.5rem;
	background-color: var(--cyan);
}

.collection {
	display: flex;
	flex-direction: row;
}

.title {
	position: absolute;
	color: var(--yellow);
	background-color: var(--blue);
	margin-top: -0.5rem;
	font-family: 'Web437 Nix8810 M16';
	font-size: 0.5rem;
	width: fit-content !important;
	height: auto !important;
	top: 0.5rem;
	left: 0.35rem;
	right: 0;
	bottom: auto;
}

.info {
	font-family: 'Web437 DOS/V re. ANK30';
	font-weight: 100;
	font-size: 1rem;
	color: var(--white);
	max-width: 100%;
	z-index: 2;
	padding-left: 5%;
	padding-right: 5%;
}

.pixel {
	filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='b' x='0' y='0' height='100%' width='100%' %3E%3CfeFlood x='0' y='0' height='5px' width='5px'/%3E%3CfeComposite width='20px' height='20px'/%3E%3CfeTile result='a'/%3E%3CfeComposite in='SourceGraphic' in2='a' operator='in'/%3E%3CfeMorphology operator='dilate' radius='10'/%3E%3C/filter%3E%3C/svg%3E#b");
	width: 100%;
	height: 100%;
}

.icon {
	width: 100%;
	height: 100%;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.inactive {
	display: none;
}

.menu {
	z-index: 1;
	height: 100%;
	padding-right: 1.5rem;
}

.menu:nth:child(0) {
	height: 100%;
	padding-right: 1.5rem;
}

.menu:nth-child(1) {
	height: 100%;
	margin-bottom: 1.5rem;
}

.menu [tabindex]:focus {
	background-color: var(--red);
	outline: none;
}

.indicator:focus {
	background-color: var(--red);
}

.indicator:hover {
	background-color: var(--red);
}

.indicator:target {
	background-color: var(--red);
}

.indicator:active {
	background-color: var(--red);
}

.link {
	font-weight: 100;
	font-size: 0.5rem;
	color: var(--white);
	text-decoration: none;
	width: fit-content;
	z-index: 1;
	text-align: left;
}

.link:hover {
	background-color: var(--red);
}

.link:target {
	background-color: var(--red);
}

.link:focus {
	background-color: var(--red);
}

.link:active {
	background-color: var(--red);
}