:root {
	--animationSteps: 0;
	--animationTime: 0;

	--red: #da0c00;
	--orange: #CE9178;
	--yellow: #f4eb34;
	--green: #0dbc79;
	--blue: #0404ac;
	--cyan: #00b6b5;
	--indigo: #646695;
	--violet: #c586c0;
	--white: #d4d4d4;
	--grey: #cfcdd0;
	--black: #1e1e1e;
	z-index: 1;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: var(--black);
}

a {
	text-decoration: none;
}

p {
	font-family: 'Web437 Nix8810 M16';
	font-size: 0.5rem;
	margin: 0;
}


main.column {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

main {
	height: 100%;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	position: relative;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

nav {
	height: 100%;
	flex: 0.10;
	width: fit-content;
}

.navButtonText {
	margin-top: 0.25rem;
}

section {
	flex: 0.9;
}

button {
	color: var(--white);
}

form {
	z-index: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	align-content: center;
	caret-shape: block;
}

#root {
	width: 100vw;
	height: 100%;
	min-height: 0;
	box-sizing: border-box;
}

#hero1 {
	flex: 0.0125;
}

#hero2 {
	flex: 0.985;
}

#hero3 {
	flex: 0.0125;
}

#about1 {
	flex: 0.0125;
}

#setup {
	color: var(--yellow);
	margin: 0;
}

#controls {
	font-size: 0.5rem;
	font-family: 'Web437 Nix8810 M16';
	color: var(--yellow);
	padding-left: 0.5%;
	padding-right: 0.5%;
	justify-content: space-around;
	width: 100%;
}

.intro-background {
	font-family: 'Web437 Nix8810 M16';
	font-weight: 100;
	font-size: 0.5rem;
	color: var(--white);
	position: absolute;
	user-select: none;
	top: 0;
}


#intro {
	font-family: 'Web437 DOS/V re. ANK30';
	font-weight: 100;
	font-size: 1rem;
	color: var(--white);
}

.hidden {
	display: none !important;
}

.column {
	box-sizing: border-box;
	flex-direction: column;
	position: relative;
	display: flex;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.row {
	box-sizing: border-box;
	flex-direction: row;
	position: relative;
	display: flex;
	z-index: 1;
	height: 100%;
	width: 100%;
}

.contact-input {
	font-family: 'Web437 Nix8810 M16';
	width: 12rem !important;
	background-color: var(--grey);
	color: var(--blue) !important;
}

.message {
	height: 4.5rem;
}

.form-container {
	align-items: center;
}

.quarter {
	flex: 0.1125;
}

.threequarters {
	flex: 0.8925;
}

.popup {
	height: fit-content;
	width: fit-content;
	padding: 0.5rem;
	align-self: center;
	display: flex;
	align-items: center;
	pointer-events: all;
	justify-content: space-around;
}

.popup-text-container {
	justify-content: space-around;
	display: flex;
	flex-direction: column;
}

.popup-container {
	justify-content: space-around;
	position: absolute;
	display: flex;
	height: 100%;
	width: 100%;
	pointer-events: none;
	z-index: 1;
}

.popup-box {
	background-color: var(--red);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.popup-text {
	position: relative;
	color: var(--white);
}

.popup-button {
	position: relative;
	font-family: 'Web437 Nix8810 M16';
	color: var(--white);
	top: 0.25rem;
}

.popup-shadow {
	background-color: var(--black);
	position: absolute;
	right: -0.25rem;
	bottom: -0.25rem;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.copyright {
	font-family: 'Web437 Nix8810 M16';
	font-weight: 100;
	font-size: 0.25rem;
	color: var(--white);
	z-index: 1;
	position: fixed;
	left: 1.25rem;
	bottom: 0.5rem;
}

.scroll {
	overflow: hidden;
	height: 100%;
	position: relative;
}

.text-block {
	text-align: left;
	position: absolute;
	margin: 0;
	color: var(--white);

}

.indicator {
	position: relative;
	width: 100% !important;
	text-align: center !important;
	margin-top: 0 !important;
	left: 0;
}

.top.indicator {
	margin-bottom: 0.25rem !important;
}

.bottom.indicator {
	margin-top: 0.25rem !important;
}

.indicatorText {
	margin: 0;
	height: 0.5rem;
	background-color: var(--grey);
	color: var(--blue) !important;
	user-select: none;
	width: 100% !important;
}

.submit {
	background-color: var(--cyan);
	color: var(--white);
	font-family: 'Web437 Nix8810 M16';
	font-size: 0.5rem;
	width: fit-content;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}

.collection {
	display: flex;
	flex-direction: row;
}

.title {
	position: absolute;
	color: var(--yellow);
	background-color: var(--blue);
	margin-top: -0.5rem;
	font-family: 'Web437 Nix8810 M16';
	font-size: 0.5rem;
	width: fit-content !important;
	height: auto !important;
	top: 0.5rem;
	left: 0.35rem;
	right: 0;
	bottom: auto;
}

.general-text {
	color: var(--white);
	font-family: 'Web437 Nix8810 M16';
	font-size: 0.5rem;
}

.info {
	font-family: 'Web437 DOS/V re. ANK30';
	font-weight: 100;
	font-size: 1rem;
	color: var(--white);
	max-width: 100%;
	z-index: 2;
	padding-left: 5%;
	padding-right: 5%;
}

.pixel {
	filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='b' x='0' y='0' height='100%' width='100%' %3E%3CfeFlood x='0' y='0' height='5px' width='5px'/%3E%3CfeComposite width='20px' height='20px'/%3E%3CfeTile result='a'/%3E%3CfeComposite in='SourceGraphic' in2='a' operator='in'/%3E%3CfeMorphology operator='dilate' radius='10'/%3E%3C/filter%3E%3C/svg%3E#b");
	width: 100%;
	height: 100%;
}

.icon {
	width: 100%;
	height: 100%;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.inactive {
	display: none;
}

.menu {
	z-index: 1;
	height: 100%;
	padding-right: 1.5rem;
}

.menu:nth:child(0) {
	height: 100%;
	padding-right: 1.5rem;
}

.menu:nth-child(1) {
	height: 100%;
	margin-bottom: 1.5rem;
}


.link {
	font-weight: 100;
	font-size: 0.5rem;
	width: fit-content;
	z-index: 1;
	color: var(--white);
}

.point:hover,
.point:focus {
	outline: none;
	display: inline-flex;
	text-align: center;
	align-items: center;
}

.point:hover::before,
.point:focus::before {
	position: relative;
	font-family: 'Web437 Nix8810 M16';
	outline: none;
	content: '►';
	padding-right: 0.25rem;
	margin-top: 0.25rem;
}

.highlight:focus {
	background-color: var(--red);
	color: var(--yellow) !important;
	outline: none;
}


.highlight:hover {
	background-color: var(--red);
	color: var(--yellow) !important;
	outline: none;
}
