@media (min-width: 200px) {
	html {
		font-size: 30px;
	}
}


/* All screens under 768 pixels will have these effects */
@media (max-width: 768px) {

	main {
		padding-bottom: 1.5rem;
	}

	.row.adjustable {
		flex-direction: column;
	}


	.nav-spacer {
		display: none;
	}

	.external-link {
		display: none;
	}

	.link {
		margin-top: 0px;
	}

	.column.adjustable {
		flex-direction: row;
	}

	.navButtonText {
		margin-top: 0
	}

	.hideable {
		display: none;
	}

	.menu {
		width: 100%;
	}

	.menu:nth-child(2) {
		width: fit-content;
		margin-bottom: 0;
	}

	.box.left {
		margin-right: -10%;
	}

	.quarter {
		flex: 0.325;
	}

	.threequarters {
		flex: 0.675;
	}

	.column {
		#internal {
			width: 100%;
			justify-content: space-around;
		}
	}

	nav {
		width: 100% !important;
	}

	.contact-input {
		width: 9rem !important;
	}

	#intro {
		font-size: 0.5rem;
	}

}

/* All screens above 768 pixels will have these effects */
@media (min-width: 768px) {
	html {
		font-size: 42px;
	}

	.icon:nth-child(1) {
		padding-right: 0.5rem;
	}
}
