@media (min-width: 200px) {
	html {
		font-size: 30px;
	}
}


/* All screens under 768 pixels will have these effects */
@media (max-width: 768px) {

	.row.adjustable {
		flex-direction: column;
	}

	.column.adjustable {
		flex-direction: row;
	}

	.box.bottom {
		margin-bottom: 2rem;
	}

	.hideable {
		display: none;
	}

	.menu {
		width: 100%;
	}

	.menu:nth-child(2) {
		width: fit-content;
		margin-bottom: 0;
	}

	.tempName {
		width: 100%;
		margin-bottom: 0px
	}

	.tempName2IG {
		height: 0% !important;
	}

	#tempName3IG {
		height: auto;
	}

	.column {

		#external {
			background-color: transparent;
			border: 0;
			width: 10%;
		}

		#internal {
			padding-top: 0.25rem;
			width: 100%;
			height: auto;
			justify-content: space-around;
		}
	}
}

/* All screens above 768 pixels will have these effects */
@media (min-width: 768px) {
	html {
		font-size: 42px;
	}

	.icon:nth-child(1) {
		padding-right: 0.5rem;
	}
}