@media (min-width: 200px) {
	html {
		font-size: 20px;
	}
}

@media (min-width: 400px) {
	html {
		font-size: 28px;
	}
}

/* All screens under 768 pixels will have these effects */
@media (max-width: 768px) {
	:root {
		display: flex;
		flex-direction: column;
	}

	nav:nth-child(1) {
		padding-left: 15%;
	}

	nav {
		width: fit-content;
	}

	.icon {
		width: 2.5rem;
		height: 2.5rem;
	}

	.focusables {
		width: 100%;
		margin-left: 0%;
		position: relative;
		flex-direction: row;
		display: flex;
	}

	.menu {
		width: 100%;
	}

	.menu>div:nth-child(1) {
		margin-top: 0.55rem;
		border-top-width: 19.75px;
	}

	#menu1.ascii-box.no-title {
		clip-path: inset(calc(0.25rem / 2) 0 0 0);
		border-top-width: 20px;
	}

	#error-box1.ascii-box.no-title {
		clip-path: inset(0.25rem 0 0 0);
		border-top-width: 20px;
	}

	#menu1.title {
		margin-top: -1.5rem;
	}

	#error-box1.title {
		margin-top: -0.5rem;
	}

	#pathAbout {
		padding-top: 15px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#pathError {
		padding-top: 15px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#pathProjects {
		padding-top: 15px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#pathTest {
		padding-top: 15px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#pathResume {
		padding-top: 15px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#pathHome {
		padding-top: 15px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.title {
		font-size: 0.75rem;
	}

	.flex-row {
		min-height: 10%;
	}

	.flex-column {
		height: 100vh;
	}

	#menu1 {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-right: 0.55rem;
		padding-left: 0px;
		width: fit-content;
	}

	#menu2 {
		width: fit-content;
		flex-direction: column;
	}

	#menu2.ascii-box.no-title {
		background-color: transparent;
		border-color: transparent;
		border-image: none;
		border: 0;
	}

	.link:nth-child(1) {
		margin-top: 0.25rem;
	}

	main {
		display: flex;
		position: relative;
		width: 100%;
		height: 100vh;
	}

	body {
		margin: 0;
		height: 100vh;
	}
}

/* All screens above 768 pixels will have these effects */
@media (min-width: 768px) {
	html {
		font-size: 32px;
	}

	.icon:nth-child(1) {
		padding-right: 0.5rem;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 42px;
	}
}
