/*Credits: https://int10h.org/oldschool-pc-fonts/readme/#credits*/

@font-face {
	font-family: 'AcPlus IBM BIOS-2y';
	font-display: auto;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('acplus_ibm_bios-2y.ttf') format('truetype');
}
