/*Credits: https://int10h.org/oldschool-pc-fonts/readme/#credits*/

@font-face {
	font-family: 'Web437 Nix8810 M16';
	font-display: swap;
	font-stretch: normal;
	font-style: normal;
	src: url('./web437_nix8810_m16.woff') format('woff');
}
