@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Red+Hat+Mono:ital@1&family=UnifrakturCook:wght@700&display=swap");
:root {
	--font1: "Monofett", monospace;
	--font2: "Red Hat Mono", monospace;
	--fontsize: 3.5rem;
}

* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	color: #0bf013;
	background-color: black;
}

body {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
		url("../assets/background.png");
	background-repeat: repeat;
	position: fixed;
	height: 100%;
	width: 100%;
}

h1 {
	width: auto;
	font-family: var(--font1);
	font-size: var(--fontsize);
	font-style: normal;
	text-align: center;
}

h2 {
	width: auto;
	position: relative;
	font-family: var(--font2);
	font-size: var(--fontsize) / 2;
	text-align: center;
	border-width: 3px;
}

footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
}
