/* Website for reference: https: //galmuri.quiple.dev/#%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C */
@import url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');

:root {
	--background-color: #18181b;
	--text-background: #839073;
	--text-foreground: white;
}

* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	border: 0;
	margin: 0;
	overflow: hidden;
}

html {
	color: var(--text-foreground);
	background-color: #18181b;
	position: fixed;
	height: 100%;
	width: 100%;
}

h1 {
	width: auto;
	font-family: "Galmuri7",
		sans-serif;
	font-size: 50px;
	font-style: normal;
	text-align: left;
	padding-left: 10vw;
	padding-top: 10vw;
	line-height: 1.5;
	word-break: keep-all;
	text-shadow: 0.125em 0 0 var(--text-background),
		-0.125em 0 0 var(--text-background),
		0 0.125em 0 var(--text-background),
		0 -0.125em 0 var(--text-background),
		0.125em 0.125em 0 var(--text-background),
		-0.125em -0.125em 0 var(--text-background),
		0.125em -0.125em 0 var(--text-background),
		-0.125em 0.125em 0 var(--text-background),
		0 0.25em 0 var(--text-background),
		-0.125em 0.25em 0 var(--text-background),
		0.125em 0.25em 0 var(--text-background);
	transform: translateY(-0.125em);
}

h2 {
	font-family: Galmuri9, sans-serif;
	font-size: 25px;
	font-weight: 400;
	font-stretch: normal;
	padding-left: 10vw;
	padding-top: 2.5vw;
	text-shadow: .1em .1em 0 var(--text-background);
}
