.ascii-box {
	border-style: solid;
	border-color: #fff;
	border-image-repeat: round;
	font-family: 'Web437 DOS/V re. ANK30';
	font-weight: 100;
	font-size: 1rem;
}

#box1 {
	background-color: var(--indigo);
}
