
@media (min-width: 100px) {
	html {
		font-size: 8px;
	}
}

@media (min-width: 250px) {
	html {
		font-size: 15px;
	}
}

@media (min-width: 700px) {
	html {
		font-size: 20px;
	}
}

@media (min-width: 1000px) {
	html {
		font-size: 25px;
	}
}

@media (min-width: 1720px) {
	html {
		font-size: 50px;
	}
}
