
/*TODO: Configure mobile devices*/

html {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	background-color: var(--black);
}

:root {
	/* Steps for command prompt animation */
	--animationSteps: 0;
	--animationTime: 0;

	/* Defining colours */
	--red: #da0c00;
	--orange: #CE9178;
	--yellow: #f4eb34;
	--green: #0dbc79;
	--blue: #0404ac;
	--indigo: #646695;
	--violet: #c586c0;
	--white: #d4d4d4;
	--grey: #aaaaaa;
	--black: #1e1e1e;
	z-index: 1;
}

body {
	overflow: hidden;
	width: 100vw;
	z-index: 1;
}

main {
	width: 100vw;
	display: flex;
	position: absolute;
	flex-direction: column;
	z-index: 1;
}

.title {
	position: absolute;
	color: var(--yellow);
	margin-top: -0.5rem;
	font-family: 'Web437 Nix8810 M16';
	font-size: 0.5rem;
}

.copyright {
	font-family: 'AcPlus IBM BIOS-2y';
	font-weight: 100;
	font-size: 0.25rem;
	color: var(--white);
	z-index: 1;
	position: absolute;
	left: 1.5%;
	bottom: 2.5%;
}

.info {
	font-family: 'Web437 DOS/V re. ANK30';
	font-weight: 100;
	font-size: 1rem;
	color: var(--white);
	max-width: 100%;
	z-index: 2;
	padding-left: 5%;
	padding-right: 5%;
}

#setup-utility.info {
	font-family: 'Web437 Nix8810 M16';
	font-size: 0.5rem;
	color: var(--yellow);
}

#controls.info {
	font-family: 'Web437 Nix8810 M16';
	font-size: 0.5rem;
	color: var(--yellow);
	padding-left: 2.5%;
	padding-right: 2.5%;
}

a {
	text-decoration: none;
}

.flex-column {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
	gap: 0;
}

.flex-row {
	gap: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	z-index: 1;
}

.inactive {
	display: none;
}
