html {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
}

:root {
	/* Steps for command prompt animation */
	--animationSteps: 0;
	--animationTime: 0;

	/* Defining colours */
	--red: #D16969;
	--orange: #CE9178;
	--yellow: #D7BA7D;
	--green: #B5CEA8;
	--blue: #3794ff;
	--indigo: #646695;
	--violet: #C586C0;
	--white: #D4D4D4;
	--grey: #292929;
	--black: #1e1e1e;
}

body {
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	overflow: hidden;
	width: 100vw;
	height: 75vh;
	display: flex;
	justify-content: center;
}

.heading {
	font-family: Linuxson;
	font-weight: 100;
	font-size: 3rem;
	color: var(--white);
	text-align: center;
}

.code {
	font-family: Iosevka Web;
	font-size: 0.75em;
	font-weight: 200;

	margin-top: -1.75vw;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	text-align: left;

}
