nav {
	width: 50%;
	position: absolute;
	z-index: 2;
	margin-left: 0.5rem;
}

.link {
	text-align: center;
	text-align: center;
	z-index: 1;
}

.link {
	font-family: 'Web437 Nix8810 M16';
	font-weight: 100;
	font-size: 0.5rem;
	color: var(--white);
	text-decoration: none;
	width: 100%;
	z-index: 1;
	text-align: left;
	margin-top: 5%;
	margin-bottom: 5%;
}

.link:nth-child(1) {
	margin-top: 15%;
}

.link:hover {
	background-color: var(--red);
}

.link:target {
	background-color: var(--red);
}

.link:focus {
	background-color: var(--red);
}

.link:active {
	background-color: var(--red);
}

.SidebarButton {
	justify-content: center;
	align-content: center;
	display: flex;
	width: 100%;
	pointer-events:all;
	border: 75%;
	z-index: 10;
}

.menu {
	overflow: hidden;
	width: 25%;
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	pointer-events: none;
	z-index: 1;
}
