* {
	border: 0;
	margin: 0;
	padding: 0;
}

section {
	display: flex;
	flex-direction: column;
	height: fit-content;
	position: relative;
	width: 100%;
}

nav {
	display: flex;
	flex-direction: row;
	height: fit-content;
	justify-content: space-between;
	position: relative;
	width: 100%;
}
