* {
	margin: 0;
	padding: 0;
	border: 0;
	margin: 0;
}

button {
	padding: 0.5rem;
	margin: 0.5rem;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 25%;
	height: fit-content;
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 2.5rem;
}

header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

